<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body class="body">
        <h1>Let's Play GOOFSPIEL</h1>
        <% let cardsArray = ['https://i.imgur.com/5WKQ0vj.jpg', 'https://i.imgur.com/SH6BHcn.jpg', 'https://i.imgur.com/WxOcQPz.jpg', 'https://i.imgur.com/U09lZAC.jpg', 'https://i.imgur.com/D9VzW6Z.jpg', 'https://i.imgur.com/YhNn3F7.jpg','https://i.imgur.com/Jfm6lgy.jpg ', 'https://i.imgur.com/z90fCJO.jpg', 'https://i.imgur.com/3Oa0gp7.jpg', 'https://i.imgur.com/Ol5v76h.jpg', 'https://i.imgur.com/JeYU4Y0.jpg', 'https://i.imgur.com/zqdytBK.jpg', 'https://i.imgur.com/0XKvllr.jpg' ]%>;
        <% let index = Math.floor(Math.random() * cardsArray.length) %>
        <div class='score-board'>YOUR SCORE: <%=index + 1%></div>
        <div class='score-board'>OPPONENT'S SCORE: 0</div>


        <div class="prize">
            <img src="<%= cardsArray[index]; %>" height=100 width=70 >

        </div>
          <form action="/lock" method="POST">
          <div class='bid-card'></div>
          <button id='lock-bid' type="submit" class="btn btn-danger" value="Button">Lock Bid</button> </li>
        </form>
        <div id="1"></div>
        <container class='cards'>


            <% data.forEach(function(element){ %>
                <div>
                  <img src="<%= element %>" height=100 width=70 />
                </div>
            <% }) %>

        </container>
  </body>

</html>
