.body {
  background-image: url("/images/background.jpg");
  background-size: cover;
/*  width: 1000px;*/
  height: 900px;
}

.body h1 {
  color: darkred;
}

container {
  margin-left: 7em;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 100px;
}

#player-score {
/*  border: 3px solid #D6E0A0;*/
/*  background-color: #D6E0A0;*/
/*  position: absolute;
  top: 1em;
  left: 1em;*/
  float: right;
  margin-right: 1em;
  font-style: oblique;
  font-size: 1.5em;
  background-color: #290304;
  border: 1.5px solid #241711;
  border-radius: 10px;
  opacity: 0.9;
  padding: 5px;
  color: white;


}


#comp-score {
  float: left;
  margin-right: 1em;
  font-style: oblique;
  font-size: 1.5em;
  background-color: #290304;
  border: 1.5px solid #241711;
  border-radius: 10px;
  opacity: 0.9;
  padding: 5px;
  color: white;
}


body h1 {
  color:black;
  text-align: center;
}


div.prize {
  margin: 0 auto;
  display: block;
  padding: 10% 0 0 0;
  width: 70px;
}

img:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}


.roundNum {
  font-size: 20px;
  border-style: solid;
  background-color: white;
  display: inline;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
}

.btn-danger {
  margin: 0;
  width: 105.27px;
  height: 40px;
  position: absolute;
  bottom: 17%;
}

.btn-primary {
  margin-right: 2em;
  width: 105.27px;
  height: 40px;
  float: right;
}

.textInfo {
  margin: auto;
  position: absolute;
  bottom: 17%;
  left: 3%;
  color: darkred;
}








