.body {
  background-color: #D3E298;
  height: 800px;
}

body h1 {
  color: #244751;
  text-align: center;
}

container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
  height: 100px;
}

.score-board {
  border: 3px solid black;
  color: #2CB3C9;
  height: 60px;
  width: 120px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom:50px;
  background-color: darkblue;
}

div.prize {
  margin: 0 auto;
  display: block;
  padding: 0px 0px 15px 0px;
  width: 70px;
}

body h3 {
  text-align: center;
}

img:hover {
  border: 2px, solid, red;
}

div.bid-card {
  display: block;
  width: 100px;
  margin: 0 auto;
}
