.body {
  background-color: #D3E298;
  height: 900px;
}

body h1 {
  color: #244751;
  text-align: center;
}

container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
  height: 100px;
}

.score-board1 {
  border: 3px solid black;
  color: #2CB3C9;
  height: 30px;
  width: 100px;
  text-align: center;
  margin: 0;
  float: left;
}

.score-board2 {
  border: 3px solid black;
  color: #2CB3C9;
  height: 30px;
  width: 100px;
  text-align: center;
  margin: 0;
  float: right;
}

.prize {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 45%;
}

body h3 {
  text-align: center;
}

.cards {
  position: absolute;
  float: bottom;
}
